<div class="flex flex-col justify-between h-[95%]">
    <div class="flex-1">
        <!-- Icon -->
        <div class="flex justify-start items-center h-10 ml-4 mt-4">
            <h1 class="font-bold text-1xl">Avatar: </h1>
            <div class="avatar h-full ml-4" id="avatar">
                {% if avatarIcon %}
                    <img src="{{ avatarIcon }}" alt="Avatar" class="rounded-full w-full h-full object-cover">
                {% else %}
                    <img src="/images/avatar_small.png" alt="Avatar" class="rounded-full w-full h-full object-cover">    
                {% endif %}
            </div>
            <div class="flex flex-grow"></div>
            <input id="changeAvatar" type="file" class="file-input file-input-bordered w-full max-w-xs mr-4" />
        </div>
        <!-- Username -->
        <div class="flex justify-start items-center h-10 ml-4 mt-4">
            <h1 class="font-bold text-1xl">Username: </h1>
            <div class="flex-grow"></div>
            <input id="userNameInput" type="text" value="{{ userName }}" class="input input-bordered w-full max-w-xs mr-4 ml-4" />
        </div>
        <!-- UserDisplayName -->
        <div class="flex justify-start items-center h-10 ml-4 mt-4">
            <h1 class="font-bold text-1xl">Display Name: </h1>
            <div class="flex-grow"></div>
            <input id="userDisplayName" type="text" value="{{ userDisplayName }}" class="input input-bordered w-full max-w-xs mr-4 ml-4" />
        </div>
        <!-- Email -->
        <div class="flex justify-start items-center h-10 ml-4 mt-4">
            <h1 class="font-bold text-1xl">Email: </h1>
            <div class="flex-grow"></div>
            <input id="userEmail" type="text" value="{{ userEmail }}" class="input input-bordered w-full max-w-xs mr-4 ml-4" />
        </div>
    </div>
    <div class="flex justify-center items-center h-10 mr-4">
        <button id="update" class="btn btn-primary">Save</button>
    </div>
</div>

<script>
   // User data update
   document.getElementById('update').addEventListener('click', function() {
        var userName = document.getElementById('userNameInput').value;
        var userDisplayName = document.getElementById('userDisplayName').value;
        var userEmail = document.getElementById('userEmail').value;

        fetch('/api/user/updateUser', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'userName': userName,
                'userDisplayName': userDisplayName,
                'userEmail': userEmail
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
        })
        .catch(error => console.error(error));
    });


    document.getElementById('changeAvatar').addEventListener('change', function() {
        var file = this.files[0];
        var formData = new FormData();
        formData.append('avatar', file);

        fetch('/api/user/updateAvatar', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            // Fetch the new avatar URL after successful update
            fetch('/api/user/avatarIcon')
                .then(response => response.json())
                .then(data => {
                    // Update the avatar image source with the new URL
                    document.getElementById('avatar').querySelector('img').src = data.avatarIcon;
                })
                .catch(error => console.error(error));
            })
            .catch(error => console.error(error));
    });
</script>