<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magma</title>
    <link rel="icon" href="images/favicon.ico">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-black h-screen flex items-center justify-center">
    <div class="flex flex-col items-center">
        <h1 class="text-white text-6xl font-bold mb-4">Magma 🌋</h1>
        <!-- <img src="images/icon.png" alt="Magma" class="w-1/4 h-1/4"> -->
        <h4 class="text-white text-2xl mt-4">Welcome to Magma. Your AI note-taking home!</h4>

        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4" onclick="window.location.href = '/login'">Get Started</button>
    </div>
</body>
</html>
