<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magma - Sign Up</title>
    <link rel="icon" href="images/favicon.ico">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-black h-screen flex items-center justify-center">
    <div class="flex flex-col items-center">
        <h1 class="text-white text-6xl font-bold mb-4">Magma 🌋</h1>
        <h4 class="text-white text-2xl mt-4">Create your account</h4>

        <form class="flex flex-col items-center mt-4">
            <input type="email" placeholder="Email" class="py-2 px-4 rounded mt-4 bg-white">
            <input type="name" placeholder="Name" class="py-2 px-4 rounded mt-4 bg-white">
            <input type="displayname" placeholder="Display Name" class="py-2 px-4 rounded mt-4 bg-white">
            <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-4">Sign Up</button>
        </form>
    </div>
</body>
</html>