<!DOCTYPE html>
<html lang="en">
{% include 'partials/head.html' %}
<body class="bg-black h-screen flex flex-col">
    {% include 'notes/navbar.html' %}
    <div class="w-full flex justify-center flex-grow">
        <div class="flex justify-between w-full h-full">
            <div id="leftcolumn" class="w-[15%] bg-base-100"> 
                <!-- Left column -->
                {% include 'notes/left.html' %}
            </div>
            <div id="centercolumn" class="w-[70%] bg-base-300"> 
                <!-- Center column -->
                {% include 'notes/center.html' %}
            </div>
            <div id="rightcolumn" class="w-[15%] bg-base-100">
                <!-- Right column -->
                {% include 'notes/right.html' %}
            </div>
        </div>
    </div>
</body>
</html>