<!DOCTYPE html>
<html lang="en">
{% include 'partials/head.html' %}
<body class="bg-black h-screen flex flex-col">
    {% include 'partials/navbar.html' %}
    <div class="w-full flex justify-center flex-grow">
        <div class="flex justify-between w-full h-full">
            <div name="leftcolumn" class="w-1/4 bg-base-100"> 
                <!-- Left column -->
                Test
            </div>
            <div name="centercolumn" class="w-1/2 bg-base-300"> 
                <!-- Center column -->
                Test 2
            </div>
            <div name="rightcolumn" class="w-1/4 bg-base-100">
                <!-- Right column -->
                Test 3
            </div>
        </div>
    </div>
</body>
</html>