<!DOCTYPE html>
<html lang="en">
{% include 'partials/head.html' %}
<body class="bg-black h-screen flex items-center justify-center">
    <div class="flex flex-col items-center rounded-box bg-gray-900 py-4 px-4">
        <h1 class="text-4xl font-bold mb-8">Magma 🌋 Settings</h1>
        <div class="flex flex-row justify-center items-center">
            <ul class="menu bg-base-200 w-40 rounded-box">
                <p class="text-1xl font-bold mb-2">Options</p>
                <li><a>General</a></li>
                <li><a>Editor</a></li>
                <li><a>AI</a></li>
                <li><a>Files and links</a></li>
                <li><a>Appearance</a></li>
                <li><a>Account</a></li>
                <li><a>Plugins</a></li>
            </ul>
            <div class="divider divider-horizontal mx-4"></div>
            <div class="rounded-box bg-base-200">
                <div class="card-body">
                    <h2 class="card-title">Settings Title</h2>
                    <p>Card Description that is like really really long, blah blah blah</p>
                </div>
            </div>    
        </div>
    </div>
</body>
</html>