<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magma - Sign Up</title>
    <link rel="icon" href="images/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black h-screen flex items-center justify-center">
    <div class="flex flex-col items-center">
        <h1 class="text-white text-6xl font-bold mb-4">Magma 🌋</h1>
        <h4 class="text-white text-2xl mt-4">Create your account</h4>

        <form class="flex flex-col items-center mt-4" method="post">
            <input name="email" type="email" placeholder="Email" class="input input-borderd px-4 rounded mt-4">
            <input name="name" type="name" placeholder="Name" class="input input-borderd py-2 px-4 rounded mt-4">
            <input name="displayName" type="displayname" placeholder="Display Name" class="input input-borderd py-2 px-4 rounded mt-4">
            <button type="submit" class="btn bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-4">Sign Up</button>
        </form>
        {% if error %}
            <div role="alert" class="alert alert-error mt-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span>{{ error }}</span>
            </div>
        {% endif %}
    </div>
</body>
</html>