<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>Magma - {{ title }}</title>
    {% else %}
        <title>Magma</title>
    {% endif %}
    <!-- <link rel="icon" href="/images/favicon.ico"> -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var link = document.querySelector("link[rel*='icon']") || document.createElement('link');
            link.type = 'image/x-icon';
            link.rel = 'shortcut icon';
            link.href = window.location.origin + '/images/favicon.ico';
            document.getElementsByTagName('head')[0].appendChild(link);
        });
    </script>
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
</head>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const theme = document.cookie.split('; ').find(row => row.startsWith('theme=')).split('=')[1];
        if (theme) {
            document.documentElement.setAttribute('data-theme', theme);
        }
    });
</script>