<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>Magma - {{ title }}</title>
    {% else %}
        <title>Magma</title>
    {% endif %}
    <!-- <link rel="icon" href="/images/favicon.ico"> -->
    <link id="style" href="" rel="stylesheet" type="text/css" src="/css/full.min.css"/>
    <script id="styleScript" src="/js/tailwindcss.js" onload="console.log('Loaded')"></script>
    <!-- HTMX -->
    <script id="htmxScript" src="/js/htmx.js"></script>
    <script>
        // Modify the href of the CSS file
        var cssLink = document.getElementById('style');
        if (cssLink) {
            cssLink.href = window.location.origin + '/css/full.min.css';
        }

        // Modify the src of the Tailwind CSS script
        var tailwindScript = document.getElementById('styleScript');
        if (tailwindScript) {
            tailwindScript.src = window.location.origin + '/js/tailwindcss.js';
        }

        // Modify the src of the HTMX script
        var htmxScript = document.getElementById('htmxScript');
        if (htmxScript) {
            htmxScript.src = window.location.origin + '/js/htmx.js';
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var link = document.querySelector("link[rel*='icon']") || document.createElement('link');
            link.type = 'image/x-icon';
            link.rel = 'shortcut icon';
            link.href = window.location.origin + '/images/favicon.ico';
            document.getElementsByTagName('head')[0].appendChild(link);
        });
    </script>
    
</head>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const theme = document.cookie.split('; ').find(row => row.startsWith('theme=')).split('=')[1];
        if (theme) {
            document.documentElement.setAttribute('data-theme', theme);
        }
    });
</script>